.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
}

.dark-mode {
    position: absolute;
    right: 250px;
    top: 43px;
    background-color:#555555;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.collection-button {
    position: absolute;
    right: 25px;
    top: 43px;
    background-color: #555555;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.save-button {
    position: absolute;
    right: 385px;
    top: 43px;
    background-color: #555555;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.home-button {
    position: absolute;
    right: 150px;
    top: 43px;
    background-color: #555555;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 16px; 
}

.login-button {
    position: absolute;
    right: 150px;
    top: 43px;
    background-color: #555555;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 16px; 
}

.home-button:hover, .clear-button:hover, .save-button:hover, .collection-button:hover, .login-button:hover, .dark-mode:hover{
    background-color: #175eed;
}

.clear-button {
    position: absolute;
    right: 475px;
    top: 43px;
    background-color: #555555;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 16px; 
}

.active {
    background-color: #175eed;
}